@charset "UTF-8";
/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

html { font-size: 62.5%; /* 10梅16=62.5% */ background-color: #F5F7F7; }

body { width: 100%; font-family: "MicrosoftYaHei", "Microsoft YaHei"; }

/* header */
.headerHover { background-color: rgba(255, 255, 255, 0.7); box-shadow: 0 1px 1px #999; color: #434343; }
.headerHover a { color: #434343; }

header { position: fixed; z-index: 10; width: 100%; margin: 0 auto; height: 80px; color: #fff; font-size: 1.4rem; transition: all 0.5s ease; }
header:hover { background-color: rgba(255, 255, 255, 0.7); box-shadow: 0 1px 1px #999; }
header:hover a { color: #434343; }
header a { text-decoration: none; color: #fff; padding: 31px 0; }
header .logo { height: 50px; margin: 15px 0 0 20px; }
header .haederNav { float: right; min-width: 50px; height: 100%; position: relative; }
header .haederNav #headerNavBtn { width: 30px; height: 30px; background-color: gray; line-height: 30px; text-align: center; color: #fff; position: absolute; top: 50%; margin-top: -15px; cursor: pointer; display: none; }
header .haederNav ul { list-style: none; display: block; }
header .haederNav ul li { float: left; width: 110px; height: 80px; line-height: 80px; text-align: center; cursor: pointer; display: block; }
header .haederNav ul li:last-child { margin-right: 80px; }
header .haederNav ul li:hover { transition: all 0.2s ease; line-height: 70px; background-color: rgba(255, 255, 255, 0.4); }
header .haederNav ul li:hover a { color: #50BEB8; }

@media screen and (max-width: 1173px) { header { background-color: rgba(255, 255, 255, 0.7); }
  header .haederNav { width: 100%; position: relative; top: 13px; }
  header .haederNav #headerNavBtn { display: block; position: fixed; top: 40px; right: 30px; }
  header .haederNav ul { background-color: rgba(255, 255, 255, 0.3); display: none; }
  header .haederNav ul li { width: 100%; float: none; display: block; color: #434343; margin: 0; cursor: pointer; font-size: 2rem; }
  header .haederNav ul li:hover { background-color: rgba(255, 255, 255, 0.7); color: #434343; } }
@media screen and (min-width: 1173px) { #headerMenu { display: block !important; } }
/* footer */
footer { width: 100%; height: 120px; background-color: #3C3A3C; display: flex; justify-content: space-between; align-items: center; margin-top: 30px; }
footer p { float: left; font-size: 1.6rem; color: #fff; margin-left: 30px; }
footer div { margin-right: 30px; flex-shrink: 0; }
footer div img { flex-wrap: nowrap; }
footer div img:first-child { width: 70px; height: 70px; margin: 0 10px 0 0; }
footer div img:last-child { width: 60px; height: 70px; }

/* up */
#up { width: 50px; height: 50px; display: none; position: fixed; right: 50px; bottom: 150px; font-size: 5rem; color: #999; cursor: pointer; }
#up:hover { color: #50BEB8; }

/* top */
.top { width: 100%; height: 300px; background: url("../img/carousel_3.jpg") no-repeat; background-size: cover; margin: 0 0 30px 0; }
.top h1 { max-width: 980px; text-align: center; font-size: 2.5rem; color: #fff; padding: 150px 30px 0 30px; display: block; margin: 0 auto; line-height: 30px; }

/* main */
.main { width: 100%; min-height: 600px; background-color: #F5F7F7; text-align: left; margin: 0 0 150px 0; }
.main p { font-size: 1.5rem; padding: 20px 20px 0 20px; line-height: 1.8rem; max-width: 1000px; margin: 0 auto; }
.main h1 { font-size: 2.5rem; padding: 30px 20px 0 20px; line-height: 2.5rem; max-width: 1000px; margin: 0 auto; }
.main h2 { padding: 30px 20px 30px 50px; font-size: 1.6rem; text-align: left; }
.main h2 a { text-decoration: none; color: #666; }
.main .center { text-align: center; }
.main .itemContainer1 { display: flex; justify-content: center; align-items: center; align-content: center; flex-wrap: wrap; max-width: 1000px; margin: 0 auto; margin-top: 30px; padding: 0 20px; }
.main .itemContainer1 p { font-size: 1.6rem; padding: 20px 0 0 0; }
.main .itemContainer1 p:first-child { width: 200px; text-align: center; }
.main .itemContainer1 p:last-child { width: 750px; text-align: left; }
.main .itemContainer2 { display: flex; justify-content: center; align-items: center; align-content: center; flex-wrap: wrap; max-width: 1100px; margin: 0 auto; margin-top: 30px; }
.main .itemContainer2 div { width: 120px; height: 120px; -moz-border-radius: 60px; -webkit-border-radius: 60px; border-radius: 60px; background-color: #999; text-align: center; line-height: 120px; font-size: 2rem; margin: 20px; }
.main .itemContainer2 div a { color: #666; text-decoration: none; }
.main .itemContainer3 { display: flex; justify-content: center; align-items: center; align-content: center; flex-wrap: wrap; max-width: 1100px; margin: 0 auto; margin-top: 30px; }
.main .itemContainer3 ul { max-width: 500px; font-size: 1.6rem; margin: 0 20px; color: #666; }
.main .itemContainer3 ul li { margin-top: 20px; line-height: 20px; }
.main .itemContainer3 ul li:before { content: '· '; font-weight: 700; }
.main .moreInfo { color: #EA6060; text-decoration: none; margin-top: 0 auto; text-align: center; font-size: 1.6rem; display: block; margin: 0 auto; }

/*# sourceMappingURL=TestItemsCommonStyle.css.map */
