<header id="header" class="header">
    <img class="logo" src="static/img/SCMPro.png" alt="Logo">
    <nav class="haederNav">
      <div id="headerNavBtn">M</div>
      <ul id="headerMenu">
        <li><a href="index.html">主页</a></li>
        <li><a href="AboutUs.html">关于我们</a></li>
        <li><a href="Inspection.html">检验</a></li>
        <li><a href="Test.html">测试</a></li>
        <li><a href="Assessment.html">评估</a></li>
        <li><a href="ContactUs.html">联系我们</a></li>
        <li><a href="http://qc.darenscm.com/">登陆SCM Pro</a></li>
        <li><a href="ChangeLanguage">中文/English</a></li>
      </ul>
    </nav>
</header>
