<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>About Us</title>
    <link rel="shortcut icon" href="static/img/favicon.ico"/>
    <link rel="stylesheet" href="static/css/aboutUs.css">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">

    <script src="static/js/jquery-3.1.1.js"></script>
    <script src="static/js/common.js"></script>
    <script src="static/js/aboutUs.js"></script>
</head>
<body id="allpage" onscroll="scrollfuntion()">

  {% include "__header.html" %}

  <div class="top">
    <h1>关于大仁供应链</h1>
  </div>
  
  <div class="main">
    <h1>我们的价值理念</h1>
    <p>在与伙伴的合作中，我们一直都秉承中国传统智慧中的</p>
    <h1>“仁、义、礼、智、信”</h1>
    <p>并且这些中国的传统价值观在我们的行动指南中得以诠释。</p>



    <div class="circle">
      

    </div>


    <h1>我们的故事</h1>

    <p class="leftText">
    　　厦门大仁供应链管理有限公司成立于1996年，是中国首批获得国家批准进出口资格的民营企业之一。公司于2000年依托自身丰富的外贸经验创建供应链管理部门，致力于为纺织、服装、包袋及其它流行饰品相关的快消品行业提供专业供应链管理服务。通过十余年不断的创新和提升，目前已成为一家基于互联网技术，涉及各种品类商品的专业检验、检测和评估的独立第三方质量技术服务机构及供应链解决方案提供商。同时，大仁供应链还拥有自主知识产权的订单管理、数据分析平台，可实时跟踪订单状态和多维度分析业务数据，为客户的商业决策提供高价值的数据信息。</p>

    <p class="leftText">
    　　大仁供应链基于客户需求提供量身定做的供应链服务方案。在严格执行国际通用标准的基础上，针对客户行业或公司的特殊需求制定个性有效的供应链和价值链，体现客户的战略，实现价值最大化。通过我们的专精知识、经验和资源能够帮助客户提高质量和供应链效率，减少风险，从而使产品快速进入市场。</p>


    <div class="history">
      

    </div>

    <h1>管理体系</h1>

    <p class="leftText">
    　　大仁供应链在遵守国家相关法律法规，遵循客观独立、公平公正、诚实信用原则，恪守职业道德的前提下，建立和执行国际质量管理体系，持续改进其适应性及有效性，确保相关部门和人员理解其规定并严格遵照执行。
      <br />
      　　严格依照标准法规和技术要求开展检验检测工作，保证检验结果真实、客观、准确。
      <br />
      　　始终保持独立公正的第三方身份，不与工作项目存在任何利益关系，不受任何来自内外部的不正当商业、财务方面的影响，并执行严格的零贿赂机制。
      <br />
      完善的员工培训体系和考核机制，培训均由符合资质要求人员组织，以确保符合国际、行业、客户等最新要求。
    </p>

    
    <div class="managementSystem">
      <div>
        <img src="static/img/ISO-Black.png" alt="">
        <p>CN14/31351</p>
      </div>
      <div>
        大仁供应链 经由质量管理最佳实践的国际标准ISO 标准 9001认证。此项认证严格遵守 ISO 要求，是提高客户满意度的保证。目前，176 个国家/地区的 100 多万个组织均已执行 ISO 9001:2008 认证。
      </div>

    </div>


    <h1>道德标准</h1>

    <p class="leftText lastp">
      　　诚信、公正、自律、保密，是我们为客户服务中秉持的道德标准，清晰地指引着大仁供应链每一位员工的日常工作。同时，我们确保道德准则中的所有条款都落实到所有的内部质量体系流程、程序和审核中。
      　　如有发现疑似道德标准违规，可以致电、通过传真或者邮件发送报告，以获取帮助。
      <br />
      <a href="AboutUsMorality.html" class="moreInfo">
        看看更详细的介绍　
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </a>
    </p>



    
  </div>

  {% include "__footer.html" %}

  <div id="up" onclick="up()">
    <i class="fa fa-angle-up" aria-hidden="true"></i>
  </div>


</body>
</html>