<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Assessment</title>
    <link rel="shortcut icon" href="static/img/favicon.ico"/>
    <link rel="stylesheet" href="static/css/Assessment.css">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">

    <script src="static/js/jquery-3.1.1.js"></script>
    <script src="static/js/common.js"></script>
</head>
<body id="allpage" onscroll="scrollfuntion()">

  {% include "__header.html" %}

  <div class="top">
    <h1>评估</h1>
  </div>
  
  <div class="main">

    <p>
      　　在供应链全球化的浪潮当中，中国凭借过去三十多年来成功的市场经济转型，丰沛且低廉的劳动力资源，以及具有相对优势的制造业基础，成为各行业公司进行全球采购的首要选择。但错综复杂的市场环境、良莠不齐的供应商，缺乏国际认可的评价体系，都给采购活动的成功实施带来很多不确定的因素。
    </p>

    <p>
      　　对于希望在中国市场进行采购的国外客户，如何寻找符合要求的供应商？
    </p>

    <p>
      　　对于希望走出国门，被更多优质客户接受的国内供应商，如何更好更快地获得国际市场的认可？
    </p>

    <p>
      　　对于已经在中国进行采购的客户，如何对供应商做出公正、客观的评价？
    </p>

    <div class="infoContainer">
      <div class="imgContainer">
        <a href="AssessmentOfFactory.html">
          <div class="img">
            <span>工厂评估</span>
          </div>
        </a>
        <p>
          　　大仁供应链的工厂评估可以帮助买家评估供应商的实际能力，鉴别供应商的优势和不足，确保供应商拥有良好的工作环境，能有效控制成本、充分理解和实施买家的质量规范，从而确保产品质量和安全。
        </p>
      </div>

      <div class="imgContainer">
        <a href="AssessmentSocialResponsibility.html">
          <div class="img">
            <span>社会责任审核</span>
          </div>
        </a>
        <p>
          　　大仁供应链凭借着对中国各市场当地经济、社会和宗教事务的深刻了解，与生产商和零售商密切合作，识别薄弱环节，提供最佳的解决方案。
        </p>
      </div>

    </div>
    
  </div>

  {% include "__footer.html" %}

  <div id="up" onclick="up()">
    <i class="fa fa-angle-up" aria-hidden="true"></i>
  </div>


</body>
</html>