<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Daren SCM</title>
    <link rel="shortcut icon" href="static/img/favicon.ico"/>
    <link rel="stylesheet" href="static/css/index.css">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">

    <script src="static/js/jquery-3.1.1.js"></script> 
    <script src="static/js/index.js"></script>  
</head>
<body id="allpage" onscroll="scrollfuntion()">

  {% include "__header.html" %}

  <div class="top">
    <h1>我们致力于提供有助提升中国制造的供应链服务。成为您在成功路上的可靠供应链管理合作伙伴，为您的供应链不断优化和可持续发展创造价值。</h1>
  </div>
  
  <div class="main">
  
    <h1>我们提供智能化管理工具帮助客户快速，直观，便捷，实时的获取在中国制造的产品状态。</h1>

    <div class="startNowBtn">马上开始预定服务</div>

    <p class="smallText">免费创建您的账号，体验我们的优质服务</p>

    <div class="pcImg">
      <img id="phone" src="static/img/phone.png" alt="">
      <img id="pc" src="static/img/pc.png" alt="">
      <img id="pad" src="static/img/pad.png" alt="">
    </div>

    <div class="flexText">
      <h1>线上订单管理</h1>
      <h1>高效灵活的服务</h1>
      <h1>智能化供应链管理</h1>
      <h1>专业可靠的团队</h1>

    </div>

    <h1>方便快捷直观的管理您在中国的一切订单，随时掌握供应商动态</h1>

    <h1 class="gray">非耐用消费品</h1>

    <h1>
超过10年的非耐用品贸易及品质管理经验，覆盖服装饰品、面料以及鞋类。深刻理解您对产品的品质需求并提供专业质量保证；</h1>
    
    <p class="smallText">大仁的非耐用品专业品质管理服务可以帮助确保您获得安全，优质的产品，品类覆盖：</p>

    <div class="itemContainer1">
      <div>面料</div>
      <div>服装</div>
      <div>鞋履</div>
      <div>饰品</div>
      <div>内衣</div>
      <div>婴幼儿服装</div>
      <div>箱包</div>
      <div>毛绒制品</div>
      <div>头饰</div>
      <div>家用纺织品</div>
      <div>皮革制品</div>
      <div>服装辅料</div>
    </div>

    <h1 class="gray">耐用型消费品</h1>

    <h1>我们拥有专门的检验员和审核员对家居用品、玩具、电子与电器、礼品及赠品等领域提供专业的质量保证以及供应链的合规管理；</h1>

    <p>通过大仁供应链的在线平台，您可以方便的定制符合您产品的检验标准以及获取专业的品质管理服务，我们覆盖的品类包含：</p>


    <div class="itemContainer2">
      <div>家居用品</div>
      <div>家居</div>
      <div>时尚配饰</div>
      <div>体育器材</div>
      <div>礼品</div>
      <div>娱乐玩具</div>
      <div>电子电气产品</div>
      <div>工具</div>
    </div>

    <h1>我们的客户评价</h1>
    

   

    <p class="smallText">利用我们的技术和流程技巧、技术工具，帮助供应链伙伴成功降低成本、快速创新和提供可靠质量。整合我们的专业供应链平台，提供信息分享、价值链管理、协同研发设计、知识与技术分享、一站式外贸配套，提高供应链透明度和效率。</p>

    <h1>CHANEL IMAN</h1>
    <p class="smallText" style="padding-top: 0px;color: #999;">CEO of Pinterest</p>

    <h1>
      <i class="fa fa-angle-left" aria-hidden="true"></i>

      <i class="fa fa-angle-right" aria-hidden="true"></i>
    </h1>

    
  </div>

  {% include "__footer.html" %}

  <div id="up" onclick="up()">
    <i class="fa fa-angle-up" aria-hidden="true"></i>
  </div>


</body>
</html>