<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Inspection</title>
    <link rel="shortcut icon" href="static/img/favicon.ico"/>
    <link rel="stylesheet" href="static/css/Inspection.css">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">

    <script src="static/js/jquery-3.1.1.js"></script>
    <script src="static/js/common.js"></script>
</head>
<body id="allpage" onscroll="scrollfuntion()">

  {% include "__header.html" %}

  <div class="top">
    <h1>检验</h1>
  </div>
  
  <div class="main">

    <p>
      　　大仁供应链检验服务尽早帮助您发现问题，让您能够对需要的地方做出更改，减少您的风险、控制数量和质量，确保交付到您手中的是符合所有相关要求的货物。同时，借助我们的检验服务，您还可以确保在产品开发、生产、直至装运等整个生产流程都能达到法律义务和期望的高标准，开发持续符合您预期的高标准产品。
    </p>

    <p>
      　　作为专业的第三方检验服务机构，我们凭借着专精的经验和技能、最新技术和独一无二的服务，在中国各个地区为您提供行业内最高标准和诚信服务。我们的检验服务包括但不限于以下：
    </p>

    <div class="inspectionContainer">
      <div class="item">
        <a href="InspectionInitialProduction.html">生产初期检验</a>
      </div>

      <div class="arrows">
        <div class="rectangle"></div>
        <div class="triangle"></div>
      </div>

      <div class="item">
        <a href="InspectionDuringProduction.html">生产中期检验</a>
      </div>

      <div class="arrows">
        <div class="rectangle"></div>
        <div class="triangle"></div>
      </div>

      <div class="threeItems">
        <div><a href="InspectionPreshipmentSample.html">出货前抽样检验</a></div>
        <div><a href="InspectionPreshipmentAll.html">出货前全数检验</a></div>
        <div><a href="InspectionCenter.html">验货中心检验</a></div>
      </div>
      
      <div class="arrows">
        <div class="rectangle"></div>
        <div class="triangle"></div>
      </div>

      <div class="item">
        <a href="InspectionShipment.html">货柜监装</a>
      </div>

    </div>

    <a class="moreInfo" href="InspectionStandard.html">
      点击查看我们使用的检验标准　
      <i class="fa fa-angle-right" aria-hidden="true"></i>
    </a>
    
  </div>

  {% include "__footer.html" %}

  <div id="up" onclick="up()">
    <i class="fa fa-angle-up" aria-hidden="true"></i>
  </div>


</body>
</html>