<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>InspectionCenter</title>
    <link rel="shortcut icon" href="static/img/favicon.ico"/>
    <link rel="stylesheet" href="static/css/InspectionItemsCommonStyle.css">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">

    <script src="static/js/jquery-3.1.1.js"></script>
    <script src="static/js/common.js"></script>
</head>
<body id="allpage" onscroll="scrollfuntion()">

  {% include "__header.html" %}

  <div class="top">
    <h1>Sports</h1>
  </div>
  
  <div class="main">
    
    <h2><a href="Inspection.html">检验</a> / 验货中心检验</h2>

    <p>
      　　验货中心检验是针对出差全检而言，客户将产品由工厂方运至检品中心，我司按照客户要求对商品进行100%检查后，良品按照客户包装要求进行分类包装，外箱上加贴我公司封条及加盖印章，装柜出货。
    </p>

    <p>
      　　验货中心能有效的确保产品质量，检品中心可根据工厂的来料情况，灵活安排时间及控制产量，达到客人要求并及时出货。
    </p>

    <div class="infoContainer">
      <div class="imgContainer">
        <div class="img">
          <span>配图</span>
        </div>
      </div>

      <div class="tips">
        <p>验货中心检验要点：</p>
        <ul>
          <li>数量核对</li>
          <li>包装检验</li>
          <li>工艺检查</li>
          <li>箱唛检验</li>
          <li>现场测试</li>
          <li>客人特殊要求</li>
          <li>产品规格的符合性</li>
          <li>分类包装</li>
        </ul>
      </div>

    </div>


    <a class="moreInfo" href="InspectionStandard.html">
      点击查看我们使用的检验标准　
      <i class="fa fa-angle-right" aria-hidden="true"></i>
    </a>
    
  </div>

  {% include "__footer.html" %}

  <div id="up" onclick="up()">
    <i class="fa fa-angle-up" aria-hidden="true"></i>
  </div>


</body>
</html>