<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Test</title>
    <link rel="shortcut icon" href="static/img/favicon.ico"/>
    <link rel="stylesheet" href="static/css/Test.css">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">

    <script src="static/js/jquery-3.1.1.js"></script>
    <script src="static/js/common.js"></script>
</head>
<body id="allpage" onscroll="scrollfuntion()">

  {% include "__header.html" %}

  <div class="top">
    <h1>测试</h1>
  </div>
  
  <div class="main">

    <p>
      　　我们的实验室具有中国合格评定国家认可委员会（CNAS L3152)、浙江省质量技术监督局计量认证（CMA 2013111326C）和美国消费品安全委员会（CPSC）以及出入境检验检疫局（AQSIQ）的认可资质，在国内设有多个专业的实验室。 
    </p>

    <p>
      　　大仁供应链测试服务不止于出具数据报告，说明产品缺陷的属性和程度，更能提供质量问题的技术解决方案，为客户提供“检测—质量提升—检测验证”的一站式质量控制解决方案。我们的测试服务获得包括美国、印度、欧盟、非洲、南美洲、中东等地60多个国家和地区认可，检测报告具有国际公信力。
    </p>

    <p>
      　　实验室一直致力于以准确、高效、便捷的宗旨为客户创造更多价值，助力企业做好品质管控，降低贸易风险；同时以专业的技术和优质的服务为企业质量安全提供全方位解决方案。
    </p>

    
    <div class="itemContainer1">
      <div><a href="TestTextile.html">纺织品</a></div>
      <div><a href="TestFootwear.html">鞋履</a></div>
      <div><a href="TestBag.html">箱包</a></div>
      <div><a href="TestToy.html">玩具</a></div>
      <div><a href="TestBabyProduct.html">婴幼儿产品</a></div>
    </div>

    <p class="center">
      大仁供应链执行以下国家及国际的测试标准
    </p>

    <div class="itemContainer2">
      <ul>
        <li>中华人民共和国国家标准（GB）</li>
        <li>中华人民共和国行业标准（QB）</li>
        <li>美国测试和材料协会（ASTM）</li>
        <li>美国国家标准协会（NIST）</li>
        <li>欧洲标准协会（EN）</li>
        <li>日本工业协会（JIS）</li>
        <li>德国标准协会（DIN）</li>
      </ul>
      <ul>
        <li>中华人民共和国纺织行业标准（FZ）</li>
        <li>美国纺织化学家和染料家协会(AATCC)</li>
        <li>美国消费品安全委员会（CPSC）</li>
        <li>加拿大国家标准协会（CAN/CGSB）</li>
        <li>英国标准协会（BS）</li>
        <li>澳大利亚标准协会（AS）</li>
        <li>其它国际标准化组织（ISO）</li>
      </ul>
    </div>

    <div class="itemContainer3">
      <img src="static/img/GB.jpg" alt="">
      <img src="static/img/QB.jpg" alt="">
      <img src="static/img/FZ.jpg" alt="">
      <img src="static/img/AATCC.jpg" alt="">
      <img src="static/img/ASTM.png" alt="">
      <img src="static/img/O.jpg" alt="">
      <img src="static/img/NIST.png" alt="">
      <img src="static/img/CSA.jpg" alt="">
      <img src="static/img/CEN.png" alt="">
      <img src="static/img/BSI.jpg" alt="">
      <img src="static/img/STANDARDS.jpg" alt="">
      <img src="static/img/JIS.jpg" alt="">
      <img src="static/img/DIN.png" alt="">
      <img src="static/img/ISO-big.jpg" alt="">
    </div>
    
  </div>

  {% include "__footer.html" %}

  <div id="up" onclick="up()">
    <i class="fa fa-angle-up" aria-hidden="true"></i>
  </div>


</body>
</html>